apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  name: ingress-nginx-public
spec:
  destination:
    name: ""
    namespace: ingress-nginx
    server: "https://kubernetes.default.svc"
  sources:
    - repoURL: "https://kubernetes.github.io/ingress-nginx"
      path: ""
      targetRevision: 4.11.2
      chart: ingress-nginx
      helm:
        valueFiles:
          - $values/ingress-nginx-public/values.yaml
    - repoURL: https://github.com/Lynetk/eks-argo-config.git
      targetRevision: main
      ref: values
  project: idp-project
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
